streamlit

langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama

chromadb
ollama

python-dotenv

docx2txt
pypdf

rank-bm25
supabase==2.31.0


numpy
pandas
